fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
google-generativeai
chromadb
sentence-transformers
python-multipart
httpx
beautifulsoup4
pypdf2
requests
groq
psycopg2-binary
pgvector
pandas
openpyxl
twilio
mcp
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
celery[redis]
uvicorn[standard]
redis
pytz
geopy [timezonefinder]
scrapy